body, html {
    height: 100%;
    margin: 0;
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

main  {
    height:100%;
    width: 960px;
    margin: auto;
    text-align: center;
}
main h2 {
    text-align: center;
}
main h1 {
    text-align: center;
    font-size: 5em;
}
main #dozvedet {
    text-align: center;
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    color: #014994;
    border: 2px solid #014994;
    text-decoration:none;
}
main #dozvedet:hover {
    background-color: #014994;
    color: white;
    border: 2px solid #014994;
    transition: color 400ms, background-color 400ms, border-color 400ms;
    text-decoration: none;
}
header {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f07c01;
    height: 50px;
    font-size: 0;
}


header nav a {
    display: inline-block;
    color: #000000;
    font-size: 20px;
    padding: 13.5px 16px;
    text-decoration:none;

}
header nav span {
    position: absolute;
    right: 0;
    font-size: 13px;
    padding: 3px;
    text-align: center;

}
header nav a:hover {
    background-color: #014994;
    color: white;
    transition: color 400ms, background-color 400ms, border-color 400ms;
}

#hero {
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
#hero h1 {
    font-size: 5em;
}

#hero a {
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    color: #014994;
    border: 2px solid #014994;
    text-decoration:none;
}

#hero a:hover {
    background-color: #014994;
    color: white;
    border: 2px solid #014994;
    transition: color 400ms, background-color 400ms, border-color 400ms;
    text-decoration:none;
}

footer {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    min-height: 200px;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e9eaed;
    float: none;
}
footer section {
    text-align: left;
}
.full-width-wrapper, main {
    margin: 0 auto;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 960px;
    margin: 0 auto;
    height: 95%;
}

#zprava {
    padding: 6px 8px 6px 8px;
    width: 400px;
    height: 110px;
    margin-top: 10px;
}

.formular1 {
    text-align: center;
}

.formular1 label{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.formular1 input [type=input]{
    width:150px;
    height:30px;
    padding-left:5px;
    border-radius: 2px;
    border:1px solid rgb(10,10,10);
    margin:5px;
    cursor: pointer;
}

.formular1 input[type="submit"]{
    text-align: center;
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    color: #014994;
    border: 2px solid #014994;
    text-decoration:none;
    cursor: pointer;
}

.formular1 input [type="submit"]:hover {
    background-color: #014994;
    color: white;
    border: 2px solid #014994;
    transition: color 400ms, background-color 400ms, border-color 400ms;
    text-decoration: none;
}

.formular1 input[type=file]{
    margin-top:5px;
}

.formular1 table {
    margin: 0 auto;
    text-align: center;
}
.formular1 th{

    padding:5px;
    text-align: left;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:black;
    border-bottom: 1px solid #ddd;

}
.formular1 td{

    padding:5px;
    text-align: left;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:black;
    border-bottom: 1px solid #ddd;

}

.formular {
    white-space: nowrap;
    display: block;
    margin:auto;
    margin-bottom:80px;
    border-collapse: collapse;
    max-width: 960px;
    overflow: hidden;
}

.formular label{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

}
.formular input [type=input]{
    width:150px;
    height:30px;
    padding-left:5px;
    border-radius: 2px;
    border:1px solid rgb(10,10,10);
    margin:5px;
}

.formular input[type=submit]{
    width:160px;
    border-radius: 3px 3px 3px 3px;
    border:1px solid rgb(100,100,100);
    background-image: linear-gradient(rgb(0,0,0), rgb(100,100,100));
    color:white;
    margin:0;
    margin-top:5px;
}


.formular th{
    padding:5px;
    text-align: left;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:white;
    border-bottom: 1px solid black;
    background:#014994;
}

.formular td{
    padding:5px;
    text-align: left;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:black;
    border-bottom: 1px solid black;
}

.formular tr:hover{
    background-color:#eee

}
.formular tr:nth-child(odd){background:#eee}


#select_odecty {
    margin-top: 50px;
}

#kontakt{
    width:220px;
    margin-left:30px;
    float:right;
}

#kontakt h2{
    margin: 0;
    margin-bottom: 20px;
}

.formular2 {
    text-align: center;
    margin:auto;
    width:960px;
}

.formular2 label{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.formular2 input [type=input]{
    width:150px;
    height:30px;
    padding-left:5px;
    border-radius: 2px;
    border:1px solid rgb(10,10,10);
    margin:5px;
}
.formular2 input[type=submit]{
    width:160px;
    border-radius: 3px 3px 3px 3px;
    border:1px solid rgb(100,100,100);
    background-image: linear-gradient(rgb(0,0,0), rgb(100,100,100));
    color:white;
    margin:0;
    margin-top:5px;
    cursor: pointer;
}

.formular2 input[type=file]{
    margin-top:5px;
}

.formular2 th{
    padding:5px;
    text-align: left;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:black;
    border-bottom: 1px solid #ddd;

}
.formular2 td{
    padding:5px;
    text-align: left;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:black;
    border-bottom: 1px solid #ddd;
}

#divpohyby{
    display: flex;
    justify-content: center;
}
#divpohyby td{
    max-width: 400px;
    overflow: hidden;
}

@media print {
    body > header{
        visibility:  hidden;
        display: none;
    }

    body > footer{
        visibility:  hidden;
        display: none;

    }
    #noprint {
        visibility:  hidden;
        display: none;
}
}


