body, html {
    height: 100%;
    margin: 0;
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

header {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    /*position: fixed;*/
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f07c01;
    height: 50px;
    font-size: 0;
}


header nav a {
    display: inline-block;
    color: #000000;
    font-size: 20px;
    padding: 13.5px 16px;
    text-decoration:none;

}
header nav a:hover {
    background-color: #014994;
    color: white;
    transition: color 400ms, background-color 400ms, border-color 400ms;
}
#asdf {
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: block;
    max-width: 960px;
    position: relative;
    margin:auto;
}
#asdf h1 {
    font-size: 5em;
}

#asdf a {
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    color: RED;
    border: 2px solid RED;
    text-decoration:none;
}

#asdf a:hover {
    background-color: RED;
    color: white;
    border: 2px solid RED;
    transition: color 400ms, background-color 400ms, border-color 400ms;
    text-decoration:none;
}
#hero {
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}
#hero h1 {
    font-size: 5em;
}

#hero a {
    padding: 10px 20px;
    background-color: white;
    border-radius: 30px;
    color: #014994;
    border: 2px solid #014994;
    text-decoration:none;
}

#hero a:hover {
    background-color: #014994;
    color: white;
    border: 2px solid #014994;
    transition: color 400ms, background-color 400ms, border-color 400ms;
    text-decoration:none;
}

footer {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    min-height: 200px;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #e9eaed;
    float: none;
    position: relative;
}

.full-width-wrapper, main {
    width: 960px;
    margin: 0 auto;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#zprava {
    padding: 6px 8px 6px 8px;
    width: 400px;
    height: 110px;
}

.formular {
    display: inline-block;
    margin:auto;
    width:960px;
    margin-bottom:80px;
}
.formular label{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

}
.formular input [type=input]{
    width:150px;
    height:30px;
    padding-left:5px;
    border-radius: 2px;
    border:1px solid rgb(10,10,10);
    margin:5px;
}
.formular input[type=submit]{
    width:160px;
    border-radius: 3px 3px 3px 3px;
    border:1px solid rgb(100,100,100);
    background-image: linear-gradient(rgb(0,0,0), rgb(100,100,100));
    color:white;
    margin:0px;
    margin-top:5px;
}

.formular th{
    padding:5px;
    text-align: left;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:black;
    border-bottom: 1px solid #ddd;
}

.formular td{
    padding:5px;
    text-align: left;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color:black;
    border-bottom: 1px solid #ddd;
}


#select_odecty {
    margin-top: 50px;
}